.promo {
  background-image: url("/promo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -8.5rem;
}

.heading {
  font-size: 6rem;
  padding-top: 14rem;
  padding-bottom: 7rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.description {
  font-weight: 300;
  font-size: 5rem;
  padding-bottom: 12rem;
}
